
body {
  box-sizing: border-box;

  padding: 0;
  margin: 0;

}

h1,
h2,
h3,
h4,
h5,
h6,
span,
div {
    font-family: IRANSans;
}

@font-face {
    font-family: "IRANSans";
    font-style: normal;
    font-weight: 900;
    src: url("fonts/IRANSans/eot/IRANSansWeb_Black.eot");
    src: url("fonts/IRANSans/eot/IRANSansWeb_Black.eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */
        url("fonts/IRANSans/woff2/IRANSansWeb_Black.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("fonts/IRANSans/woff/IRANSansWeb_Black.woff") format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("fonts/IRANSans/ttf/IRANSansWeb_Black.ttf") format("truetype");
}

@font-face {
    font-family: "IRANSans";
    font-style: normal;
    font-weight: bold;
    src: url("fonts/IRANSans/eot/IRANSansWeb_Bold.eot");
    src: url("fonts/IRANSans/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */
        url("fonts/IRANSans/woff2/IRANSansWeb_Bold.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("fonts/IRANSans/woff/IRANSansWeb_Bold.woff") format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("fonts/IRANSans/ttf/IRANSansWeb_Bold.ttf") format("truetype");
}

@font-face {
    font-family: "IRANSans";
    font-style: normal;
    font-weight: 500;
    src: url("fonts/IRANSans/eot/IRANSansWeb_Medium.eot");
    src: url("fonts/IRANSans/eot/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */
        url("fonts/IRANSans/woff2/IRANSansWeb_Medium.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("fonts/IRANSans/woff/IRANSansWeb_Medium.woff") format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("fonts/IRANSans/ttf/IRANSansWeb_Medium.ttf") format("truetype");
}

@font-face {
    font-family: "IRANSans";
    font-style: normal;
    font-weight: 300;
    src: url("fonts/IRANSans/eot/IRANSansWeb_Light.eot");
    src: url("fonts/IRANSans/eot/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */
        url("fonts/IRANSans/woff2/IRANSansWeb_Light.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("fonts/IRANSans/woff/IRANSansWeb_Light.woff") format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("fonts/IRANSans/ttf/IRANSansWeb_Light.ttf") format("truetype");
}

@font-face {
    font-family: "IRANSans";
    font-style: normal;
    font-weight: 200;
    src: url("fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot");
    src: url("fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */
        url("fonts/IRANSans/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("fonts/IRANSans/woff/IRANSansWeb_UltraLight.woff") format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("fonts/IRANSans/ttf/IRANSansWeb_UltraLight.ttf") format("truetype");
}

@font-face {
    font-family: "IRANSans";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/IRANSans/eot/IRANSansWeb.eot");
    src: url("fonts/IRANSans/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */
        url("fonts/IRANSans/woff2/IRANSansWeb.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("fonts/IRANSans/woff/IRANSansWeb.woff") format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("fonts/IRANSans/ttf/IRANSansWeb.ttf") format("truetype");
}

a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

.container-header{
    display: flex;
    justify-content: space-between;

}
.logo-math789 span{
  
    font-size: xx-large;
    text-shadow: 1px 1px 2px black;
    font-weight: bolder;
}
.header-logo-menu{
    display: flex;
    justify-content: flex-start;
}

.header-menu {
    display: flex;
    align-items: center;
}
.header-menu ul{
    margin: 0;
    padding: 2px;
    margin-right: 10px;
    display: flex;
}

.header-menu ul li{
    padding-right: 10px;
}
.header-login-register{
    display: flex;
    width: 215px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.header-login-register a span {
    width: 100px;
    font-size: smaller;
    line-height: 26px;
    font-weight:bolder;
    display: block;

}
.header-login-register a span i{
    float: left;
    bottom: -4px;
    position: relative;
    left: 15px;
}
.header-sing-in:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}
.header-login:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}
.dot-animation{
    
    animation-name: dot;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes dot {
0%{transform: scale(0.5);}
100%{transform: scale(1.5);}
    
}
.bg-dark{
    background-color:#0d0c22 !important;
}
.content-sections{
 background:#d3d3d3 ;
  
}
.btn-start-exam{
    text-align: unset;
    padding-top: 20px;
}

.btn-start-exam button i{
    font-size: xx-large;
    padding:0 35px 0 0;
    position: relative;
    top: 5px;
}
.btn-start-exam button{
    background: #d3d3d3;
padding: 0px 30px;
 border: unset;
 display: flex;
 justify-content: center;
 align-items: center;
}
.btn-start-exam button:hover{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}
.exam-img
{
    padding: 20px;
    margin-bottom: 20px;
    background: #d3d3d3;
}
div.exam-img img{
    width: 100%;
    height: auto;
    max-width: 300px;
}
/* math 789 animation section */
.oqlidus-content {
    position: relative;
    width: 100%;
    height: 450px;
    background: #62b6cb;
    overflow: hidden;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.aniBlock {
    animation: rotate 240s infinite linear;
    position: absolute;
    display: block;
    width: 1000px;
    height: 1000px;
    background: url(bglines.png) no-repeat;
    background-size: 100%;
    
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.title-oqlidus-game {
    width: 300px;
    opacity: 1;
    height: auto;
    position: absolute;
    bottom: 21px;
    right: 19px;

}
 a:hover{ 
    color: unset;

}
.title-oqlidus-game:hover{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}
.title-oqlidus-game i {
    font-size: xx-large;
    position: relative;
    top: 5px;
    padding-left: 16px;
    float: left;
}
.title-oqlidus-game img{
    width: 70%;
    height: auto;
}
.title-oqlidus-game span{
    font-size: large;
    position: relative;
    top: 9px;
    padding-left: 16px;
    font-weight: 800;
  
}
/* owl crouser */
.container-owl{
    background-color: azure;
}
.carousel-item img{
    width: 100%;
    height: 100%;
}
div.shadow-hander:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}
.container-shadow:hover{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;

}
/* creat-exam-section style */
.wavy-container{
    background:url(../images/white-waves-white-background.jpg);
}
.description-star {
    font-size: large;
    cursor: pointer;
    
}
.description-star:hover{
    font-weight: bold;
}
.description-star:hover .bi-check {
    color: goldenrod;
}
.exam-creator-describtion .title h4 {
    text-shadow: 1px 1px 2px black;
}
.header-logo-menu .header-menu li a:hover{
    font-weight:900;


}
.logo-math789 a  span img{
   width: 76px;
}
#pic-direction .carousel-item img {
   width:  auto;
   height: 300px;
}
#pic-direction .carousel-caption {
color: #0d0c22;
position: unset !important;
display: block;
}
.carousel-indicators [data-bs-target] {
    background-color: #d3d3d3 !important;
}

.crousel-thumbnail{
   max-height: 300px;     
}

.crousel-thumbnail img {
    width: auto;
    max-height: 200px !important;
}
.swiper-button-next, .swiper-button-prev{
    color: black !important;
}
.breadcrumb-item+.breadcrumb-item::before {
float: unset !important;
}
.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 20px !important;
}
.main-content-post img{
    max-width: 100%;
    height: auto;
}
 .all-posts-btn{
    width: 200px;
    position: relative;
    bottom: -33px;
 }
 img.thumbnail-latest-post{
 transition: .3s ease-out;
    ;
 }
 div.img-thumbnail-container{
    overflow: hidden;
 }
  div.card.shadow:hover img.thumbnail-latest-post{
    scale: 1.1;
  }